<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!-- Connect db to application -->
    <add name="cnnstrng" connectionString="Data Source=ENEAXHARJAEA80;Initial Catalog=ContactApp;Integrated Security=True;"/>
  </connectionStrings>
</configuration>